/*@import 'https://fonts.googleapis.com/css?family=Raleway';*/

/*This makes sure the footer and header fill out the whole top and bottom of screen*/
@charset "UTF-8";

html, body
{
    margin: 0;
    padding: 0;
}

/***************************
****** BAHADIR START *******
****************************/

.main {
    background: transparent no-repeat center center absolute;
    height: 100vh;
    color: #ffffff;
    font-family: "Helvetica", 'Raleway', sans-serif;
    /*
    background-image: url("tshirt.png");
    background-size: cover;
    */
}

#landing-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background: transparent no-repeat 0 0;
    object-fit: cover;
    z-index: -1;
    filter: blur(2px)
}

.logo-main {
    position: relative;
    vertical-align: middle;
    text-align: center;
    height: 42px;
    width: 300px;
    display: table;
    margin: auto;
    top: 33vh;
}

.adam {
    /* ADAM & AOKI: */
    font-family: "Helvetica", 'Raleway', sans-serif;
    font-size: 32px;
    color: #111111;
    text-align: center;
    height: 40px;
}

.rec {
    /* Rectangle 2: */
    border: 2px solid #111;
    border-radius: 100px;
    height: 50px;
    box-shadow: 
}

.slogan1 {
    position: relative;
    top: 38vh;
    font-family: "Helvetica", 'Raleway', sans-serif;
    font-size: 52px;
    color: #111111;
    display: table;
    margin: 0 auto;
}

.slogan2 {
    position: relative;
    font-family: "Helvetica", 'Raleway', sans-serif;
    font-size: 32px;
    color: #111;
    top: 43vh;
    display: table;
    margin: 0 auto;
}

.arrow {
    position: absolute;
    bottom: 2%;
    left: 50%;
    margin-left:-20px;
    width: 35px;
    height: 35px;
    background-image: url("buttons/down3.png");
    background-size: contain;
}


/*************************
****** BAHADIR END *******
**************************/

footer
{
    font-family: "Helvetica", 'Raleway', sans-serif;
    margin: 0 auto;
    text-align: center;
    background: #f5f5f5;
}


footer span
{
  color: #AAA; 
}

/*-----TARA'S BIT-----*/

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

table{
  margin-right: auto;
  margin-left:auto;
  text-align: center;
  padding-left: 25px;
}

.gray
{
    background: whitesmoke;
}

div.container
{
    position: fixed;
    top: 0;
    height: 5%;
    width: 100%;
    font-family: "Helvetica", 'Raleway', sans-serif;
    margin: 0 auto;
    padding: 0px 0px -10px;
    text-align: center;
    color: #000;
    box-shadow: 0px 2px 10px gray;
}


div.container a.not-button{
    margin-top: 1em;
    font-size: 15px;
    font-family: "Helvetica", 'Raleway', sans-serif;
    text-decoration: none;

}

.arrows{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.arrows:after {
  content: "<<" ;
  position: absolute;
  opacity: 0;  
  top: 9px;
  right: -40px;
  transition: 0.3s;
}

.arrows:hover:after {
  opacity: 1;
  right: 35px;
  top: 9px;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(5px);
  }
}


div.container a.menu-button
{
    text-decoration: none;
    font-size: 15px;
    font-family: "Helvetica", 'Raleway', sans-serif;
    margin: 0px 5px; 
    padding: 2px 30px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

div.pullRightLeft a.menu-button:before
{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

div.pullRightLeft a.menu-button:after
{
    right: 0px;
}

div.pullRightLeft a.menu-button:hover:before
{
    visibility: visible;
    -webkit-transform: scaleX(0.8);
    transform: scaleX(0.8);
    width: 100%;
}

#logo {
    float: left;
    margin: 0px 0px 100px;
    padding: 0px 3vw 2px;
    color: #000;
    text-decoration: none;
}


#buy {
    float: right;
    margin: -10px 10px ;
    padding: 10px 4vw;
    bottom: 2px;
    color: #FF6600;
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 25px;
}


.rec2 {
    /* DO WE NEED THIS?*/
    border: 1px solid #000;
    border-radius: 100px;
    height: 18px;
    width: 100px;
    color: orange;
}

* {
    box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 250px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* !--- TARA'S BIT FINISH ---! */

/* This is Nanotech part*/
#AlexPart1{
	color: white;
	background-image: url("images/backgroundTest.jpg");
	background-size: cover;

	font-size: 1.1em;
	font-family: "Helvetica", 'Raleway', sans-serif;
	text-align: justify;

	box-sizing: border-box;
	box-shadow: 0 -4px 50px 0px black;
}
.row2 {
    display: flex;
}

.column2 {
    flex: 50%;
    padding-top: 10px;
    padding-bottom: 130px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.nanoImg{
  border-radius: 50%;
  height: 170px;
  width: 170px;
  border: 1px solid grey;
}

.AlexText1{
	padding: 20px;
	border-radius: 5px;
}

#columnSun{
	text-align: right;
}

.TitleN{
  font-style: italic;
  font-size: 1.5em;
}

/* This is Review Part*/

#AlexPart2{
	box-sizing: border-box;
	background-image: url("images/revBGN9.jpg");
  background-size: cover;

	color:black;
	font-size: 1.2em;
	font-family: "Helvetica", sans-serif;
	text-align: justify;

	box-shadow: 0 -4px 50px 0px black, 0 60px 50px 0px whitesmoke;
  /*Added a second shadow for better transition*/
}

.revImg{
  border-radius: 50%;
  height: 170px;
  width: 170px;
  border: 1px solid lightgrey;
}

#column2Left{
    flex: 60%;
    padding-top: 70px;
    padding-bottom: 150px; 
    padding-right:70px;
    padding-left: 70px;
}

#column2Right{
	flex: 40%;
    padding-top: 80px;
    padding-bottom: 150px; 
    padding-right:50px;
    padding-left: 100px;
}

#AlexHeader2{
	background-color: lightblue;
	font-family: "Helvetica", 'Raleway', sans-serif;
	margin:0px;
}

.AlexText2{
	padding: 5px;
	border-radius: 5px;
  color: white;
}

#slideRev{
	padding-top: 80px;
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 80px;
}

/* The Back to Top button */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 300px;
}

#myBtn:hover {
  background-color: #555;
}

#arrowUp{
	width:60px;
	height: 50px;
}

#embrace-section {
	background-image: url("images/embrace.jpg");
    background-size: cover;
	height: 75vh;
	padding: 20px;
	color: #111;
	box-shadow: 0 -4px 50px 0px black;
}

.section-head {
	font-family: "Helvetica", 'Raleway', sans-serif;
	text-align: center;
	font-size: 50px;
  padding-top: 50px;
}

.sub-head {
	font-family: "Helvetica", 'Raleway', sans-serif;
	font-size: 30px;
}

#brand-section {
	background-image: url("images/cloth-back.jpg"); /*Cloth image added, B. */
    background-size: cover;
    
	padding-top: 50px;
	padding-left: 20vw;
	padding-right: 20vw;
	padding-bottom: 50px;
	color: whitesmoke;
	box-shadow: 0 0px 20px 1px black;
}

#story-text {
	padding: 50px;
	padding-top: 1px;
	background-color: #222;
    box-shadow: 0px 0px 30px 4px #111;
    border-radius: 10px; /* Border radius added, B. */
    border: 1px solid #000000; /*Border added, B. */
}